<div class="login">
  <main class="login__content">
    <header>
      <h1 class="login__title">Welcome back! Please Sign In</h1>
      <span class="login__caveat">Caveat: use
        <span class="login__highlight">super@admin.com</span>
        / 
        <span class="login__highlight">Password</span>
        to get through
      </span>
    </header>
    <hr>
    <form class="login__form">
      <br />
      <label for="email" class="login__label">Email</label>
      <input name="email" type="email" class="login__input">
      <br />
      <label for="password" class="login__label">Password</label>
      <input name="password" type="password" class="login__input">
      <br />
      <br />
      <button type="button" class="login__submit">Sign In</button>
    </form>
  </main>
</div>