<div class="login">
  <main class="login__content">
    <header>
      <h1 class="login__title">Welcome back! Please Sign In</h1>
      <span class="login__caveat">Caveat: use
        <span class="login__highlight">super@admin.com</span>
        / 
        <span class="login__highlight">Password</span>
        to get through
      </span>
    </header>
    <hr>
    <form class="login__form" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <br />
      <label for="email" class="login__label">Email</label>
      <input
        ngModel
        email
        required
        id="email"
        name="email"
        type="email"
        class="login__input"
        #email="ngModel"
      >
      <div *ngIf="form.submitted && email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors?.['required']">Email is required</span>
        <span *ngIf="email.errors?.['email']">Email is invalid</span>
      </div>
      <br />
      <label for="password" class="login__label">Password</label>
      <input
        ngModel
        required
        name="password"
        type="password"
        class="login__input"
        #password="ngModel"
      >
      <div *ngIf="form.submitted && password.invalid && (password.dirty || password.touched)">
        <span *ngIf="password.errors?.['required']">Password is required</span>
      </div>
      <br />
      <br />
      <button
        class="login__submit"
        [disabled]="!form.valid"
      >
        Sign In
      </button>
    </form>
  </main>
</div>